.section {
  width: 100%;
  max-width: var(--max-width);
  margin: 80px auto 0;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.grid {
  width: 1185px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.ctaWrapper {
  width: 1185px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -24px;
}

.cta {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--color-text);
  width: 226px;
  height: 35px;
  justify-content: flex-end;
}

.ctaText {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 2px;
  text-transform: capitalize;
  white-space: nowrap;
}

@media (max-width: 1023px) {
  .section {
    margin-top: 48px;
    align-items: flex-start;
    gap: 0;
    padding-left: 20px;
  }

  .grid {
    width: calc(100vw - 20px);
    max-width: unset;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 17px;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .ctaWrapper {
    width: auto;
    max-width: unset;
    margin-top: 18.2px;
    justify-content: flex-start;
  }

  .cta {
    width: auto;
    justify-content: flex-start;
  }
}
